<!DOCTYPE html>
<html lang="en">
<head>
	<title>Data</title>
	<meta charset="UTF-8">
	<meta name="description" content="Civic - CV Resume">
	<meta name="keywords" content="resume, civic, onepage, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/flaticon.css"/>
	<link rel="stylesheet" href="css/owl.carousel.css"/>
	<link rel="stylesheet" href="css/magnific-popup.css"/>
	<link rel="stylesheet" href="css/style.css"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section start -->
	<header class="header-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<div class="site-logo">
						<h2><a href="#">Data</a></h2>
						<p>Science, Engineering, Analysis</p>
					</div>
				</div>
				<div class="col-md-8 text-md-right header-buttons">
					<a href="#" class="site-btn">Download Resume</a>
					<a href="https://www.linkedin.com/in/NickelousTex" class="site-btn">LinkedIn</a>
				</div>
			</div>
		</div>
	</header>
	<!-- Header section end -->

	<!-- Hero section start -->
	<section class="hero-section spad">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<div class="row">
						<div class="col-lg-6">
							<div class="hero-text">
								<h2>Nickelous Teixeira</h2>
								<p>I’m a Data Scientist with a background in Buisness Intelligence.<br> Driven, Creative, Problem Solver</p>
							</div>
							<div class="hero-info">
								<h2>General Info</h2>
								<ul>
									<li><span>Date of Birth</span>May 29, 1985</li>
									<li><span>Location</span>Brookyln, NY</li>
									<li><span>E-mail</span>NickelousTeixeira@gmail.com</li>
									<li><span>Phone </span>804-277-9555</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6">
							<figure class="hero-image">
								<img src="img/hero.jpg" alt="5">
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- Social links section start -->
	<div class="social-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<div class="social-link-warp">
						<div class="social-links">
							<a href="https://github.com/NickelousTex"><i class="fa fa-github"></i></a>
							<a href="https://www.linkedin.com/in/nickeloustex"><i class="fa fa-linkedin"></i></a>
							<a href="https://join.slack.com/t/nicktex/shared_invite/enQtNDM3MzE0MTI1MjIxLTU2ZjU2MTQzMzEzMTI4ZTU1MTEzNzU3ZTczZjllY2QzYWI0OWE3YWYwNGYwZjIwMGE1ODU2ZDEwODRmODNkNzM"><i class="fa fa-slack"></i></a>
							<a href="https://twitter.com/NickelTex"><i class="fa fa-twitter"></i></a>
						</div>
						<h2 class="hidden-md hidden-sm">Contact & Project Profiles</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Social links section end -->

	<!-- Resume section start -->
	<section class="resume-section spad">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-7 offset-xl-2">
					<div class="section-title">
						<h2>Work Experience</h2>
					</div>
					<ul class="resume-list">
						<li>
							<h2>2016-2018</h2>
							<h3>7-Eleven</h3>
							<h4>Business Consultant/Data Analyst</h4>
							<p>− Lead, consult with, and influence a group of 9 to 13 independent business owners to develop, update and execute operational plans and strategies, including merchandising, guest experience and store operational infrastructure utilizing Oracle Database products. Used a data driven approach to grow net revenues on store sales totalling $20 million per year
							<br>
							− Weekly/Monthly reviews utilizing proprietary ISP data tools to analyze and understand business P&L
							<br>
							− Address performance issues in a timely manner using custom created data
							infographics to influence decision making </p>
						</li>
						<li>
							<h2>2014-2016</h2>
							<h3>Petroleum Marketing Group</h3>
							<h4>Category Analyst</h4>
							<p>− Negotiated vendor discounts and rebates to 83 stores using data trend
							<br>
							− Created and implemented product promotions utilizing supplier incentives and set breakeven goals by store for promotion success
							<br>
							− Provided District level category analysis to relevant departments utilizing Oracle and SQL
							<br>
							− Merchandising lead on construction and remodel of 25+ store conversions to Circle K  </p>
						</li>
						<li>
							<h2>2008-2013</h2>
							<h3>Seibert's Family of Companies</h3>
							<h4>Business Consultant</h4>
							<p>- Managed a territory of 40 dealer/company operated stores
							<br>
							- Provided business consulting/pricing strategy/P&L/B2B support to independent owners
							<br>
							- Created and delivered training support seminars on customer service, consumer loyalty, and environmental compliance to independent owners.
						</li>
						<li>
							<h2>2004-2008</h2>
							<h3>United States Army National Guard</h3>
							<h4>Intelligence Analyst</h4>
							<p>− Worked in direct support of Brigade Headquarters S-2 commander to supervise, coordinate, and participate in the analysis, processing, and distribution of strategic and tactical intelligence
							<br>
							− Processed incoming reports and messages; determined the significance and reliability of incoming information; established and maintained systematic, cross referenced intelligence records and files
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Resume section end -->

	<!-- Resume section start -->
	<section class="resume-section with-bg spad">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-7 offset-xl-2">
					<div class="section-title">
						<h2>Education</h2>
					</div>
					<ul class="resume-list">
						<li>
							<h3>Data Science</h3>
							<h4>Galvanize</h4>
							<p>Galvanize is a collection of modern, urban campuses where people can access the skills and network they need to level up in tech. With companies like IBM, TechStars and Andaconda on campus, it was the perfect place to learn and gain practical experience in Data Science </p>
						</li>
						<li>
							<h3>Computer Science</h3>
							<h4>CUNY, NYC College of Technology</h4>
							<p> Focusing on Linear Algebra, Network Structures, and fundementals of programming. This was the launching point to grow my skill set and get a solid base of understanding in Computer Science </p>
						</li>
						<li>
							<h3>Applied Mathematics</h3>
							<h4>Virginia Commonwealth University</h4>
							<p> Focusing on higher level Calculus & Philosophy - all with the drive to better myself and understand the world.  </p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Resume section end -->


	<!-- Review section start -->
	<section class="review-section spad pb-0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-7 offset-xl-2">
					<div class="section-title">
						<h2>References</h2>
					</div>
					<div class="review-slider owl-carousel">
						<div class="single-review">
							<div class="qut">“</div>
							<p> col tuckers recommendation... </p>
							<h3>Tucker</h3>
							<h4>Colonel, US Army (ret)</h4>
						</div>
						<div class="single-review">
							<div class="qut">“</div>
							<p> Mark's Recommendation... </p>
							<h3>Mark Hall</h3>
							<h4>VP Marketing, PetroMG</h4>
						</div>
						<div class="single-review">
							<div class="qut">“</div>
							<p>Sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
							<h3>Brandon Pennell</h3>
							<h4>Cyber Security Research Scientist, Wells Fargo</h4>
						</div>
							<div class="single-review">
								<div class="qut">“</div>
								<p>Sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
								<h3>Andrew Malet</h3>
								<h4>Market Manager, 7-Eleven</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Review section end -->


	<!-- Portfolio section start -->
	<section class="portfolio-section spad pb-0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-4 col-md-8 offset-xl-2 ">
					<div class="section-title">
						<h2>Projects</h2>
					</div>
				</div>
				<div class="col-md-4 text-md-right">
					<a href="https://github.com/NickelousTex" class="site-btn mb-5">See All Public Projects</a>
				</div>
			</div>
			<div class="portfolio-warp">
				<div class="row">
					<div class="col-xl-3 col-lg-6 col-md-6">
						<div class="portfolio-item">
							<a href="https://nickeloustex.github.io/NYC-311-Regression-Predicting" class="set-bg port-pic" data-setbg="img/portfolio/311.png"></a>
							<h2>311 Data Analysis</h2>
							<p>Regression Prediction Project</p>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-6">
						<div class="portfolio-item">
							<a href="img/portfolio/national_park.png" class="set-bg port-pic" data-setbg="img/portfolio/national_park.png"></a>
							<h2>Fraud Predictor</h2>
							<p>Fraud Prediction Project</p>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-6">
						<div class="portfolio-item">
							<a href="img/portfolio/3.jpg" class="set-bg port-pic" data-setbg="img/portfolio/3.jpg"></a>
							<h2>National Park Analysis</h2>
							<p>Data Analytics Project</p>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-6">
						<div class="portfolio-item">
							<a href="img/portfolio/4.jpg" class="set-bg port-pic" data-setbg="img/portfolio/4.jpg"></a>
							<h2>Logo design</h2>
							<p>Graphic design</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Portfolio section end -->

	<!-- Extra section start -->
	<section class="extra-section spad pb-0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-8 offset-xl-2">
					<div class="section-title">
						<h2>Top Skills</h2>
						<h4>See Resume For Complete List</h4>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-6 pt-5">
							<div class="fact-box trans">
								<div class="fact-content">
									<div class="circle-progress">
										<div id="progress1" class="prog-circle"></div>
										<div class="progress-info">
											<h2>75%</h2>
										</div>
										<div class="prog-title">
											<h3>Python</h3>
											<p>Including Machine Learning Libraries, Pandas, and more</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-6 pt-5">
								<div class="fact-box trans">
									<div class="fact-content">
										<div class="circle-progress">
											<div id="progress1" class="prog-circle"></div>
											<div class="progress-info">
												<h2>75%</h2>
											</div>
											<div class="prog-title">
												<h3>AWS</h3>
												<p> EC2, S3, RDS, Lambda, DynamoDB, and more</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-3 col-md-6 pt-5">
									<div class="fact-box trans">
										<div class="fact-content">
											<div class="circle-progress">
												<div id="progress1" class="prog-circle"></div>
												<div class="progress-info">
													<h2>75%</h2>
												</div>
												<div class="prog-title">
													<h3>Data Vizualization</h3>
													<p>Plotly, Matlab, Seaborn, Folium, Leaflet</p>
												</div>
											</div>
										</div>
									</div>
								</div>
						<div class="col-lg-3 col-md-6 pt-5">
							<div class="fact-box trans">
								<div class="fact-content">
									<div class="circle-progress">
										<div id="progress2" class="prog-circle"></div>
										<div class="progress-info">
											<h2>81%</h2>
										</div>
										<div class="prog-title">
											<h3>Database</h3>
											<p>SQL, NoSQL, SoQL</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="fact-box">
								<div class="fact-content">
									<img src="img/icon/1-w.png" alt="">
									<h2>12</h2>
									<p>Years of Experience</p>
								</div>
							</div>
						<!-- </div>
						<div class="col-lg-3 col-md-6">
							<div class="fact-box">
								<div class="fact-content">
									<img src="img/icon/2-w.png" alt="">
									<h2>9</h2>
									<p>Awards Won</p>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Extra section end -->

	<!-- Contact section start -->
	<section class="contact-section spad">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-8 offset-xl-2">
					<div class="section-title">
						<h2>Contact Me</h2>
					</div>
					<form class="contact-form">
						<div class="row">
							<div class="col-md-6">
								<input type="text" placeholder="Name">
							</div>
							<div class="col-md-6">
								<input type="text" placeholder="E-mail">
							</div>
							<div class="col-md-12">
								<input type="text" placeholder="Subject">
								<textarea placeholder="Message"></textarea>
							</div>
						</div>
						<div class="text-md-right">
							<button class="site-btn">Send message</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact section end -->

	<!-- Footer section start -->
	<footer class="footer-section">
		<div class="container text-center">
			<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</div>
		</div>
	</footer>
	<!-- Footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/magnific-popup.min.js"></script>
	<script src="js/circle-progress.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
